.object-field-list__uJ45 {
    padding: 0 60px 0 10px;
}

.object-field__1cNl {
    display: flex;
    margin: 12px 0;
    min-height: 36px;
    align-items: center;
}

.object-field__left {
    display: flex;
    align-items: center;
    width: 132px;
    height: 36;
    padding: 0 12px 0 0;

    .object-field__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #8c8c8c;
        padding-left: 8px;
    }

    .task-img {
        width: 20px;
        height: 20px;
    }
}

.task-is-finish {
    display: flex;
    background: rgba(38, 38, 38, 0.05);
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;

    &:hover {}

    .task-not-finish {
        width: 20px;
        height: 20px;
    }

    .task-not-finish-hover {
        opacity: 0;
        position: absolute;
        width: 20px;
        height: 20px;
    }

    .task-finish-hover {
        opacity: 0;
    }

    span {
        margin-left: 5px;
    }

}