.file{
  display: flex;
  flex-flow: row nowrap;
}

.file-side{
   width:298px;
   background: #ffffff;;
   padding-top:50px;
   height: calc(100vh - 48px);
   border-right: 1px #e5e5e5  solid;

}

.file-list{
  width: 100%;
  height: calc(100vh - 250px);
  .titel ,.contant li{
    height: 56px;
    line-height: 56px;
  }
  .titel {
    display: flex;
    flex-flow:row nowrap;
    color: gray;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;  
    overflow: hidden;
   
    span{
      width: 150px;
      text-align: center;
      display: block;
    }
    span:first-child{
      text-align: left;
      padding: 0px 50px;
      width: 530px;
    }

  }
  .contant{
    font-size: 14px;
    color:gray;
    li{
      display: flex;
      flex-flow:row nowrap;
      border-bottom: 1px solid #e5e5e5 !important;  
      cursor: pointer;
      position: relative;
     }
     li:hover{
       background: #f5f5f5
     }
    
    .contant-left{
      display: flex;
       .contant-titel{   
        display: flex;
         width: 530px;
         padding:0px 50px;
         img{
           width:32px;
           height: 37px;
           padding:15px 10px 0 0;
         }
       }
       .contant-erery{
         width: 150px;
         text-align: center;
       }
      
    }
  
    .file-edit{
      width: 200px;
      position: absolute;
      top:0;
      left: 82px;
      
    }

    .contant-right{
      font-size: 22px;
      line-height: 56px;
      width:90px;
      font-size: 18px;
      i{
        padding: 0px 11px;
      }
    }
  }
  
}

