.article-card {
    .ivu-tabs-bar {
        margin-bottom: 0px;
    }
}


.drop {
    .ivu-dropdown {
        display: block;

        .ivu-dropdown-rel {
            display: flex;
            justify-content: space-between;
            padding: 7px 16px;
        }
    }
}