.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 65px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .10);
  background: #fff;
  display: flex;
  justify-content: space-between;

  .left-header {
    display: flex;

    .logo-big {
      width: 240px;
    }

    .logo-small {
      width: 80px;
    }

    .logo {
      background: #002140;
      border-bottom: 1px solid #002140;
      color: #fff;
      font-size: 20px;
      box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
      text-align: center;
      display: flex;
      justify-content: center;
      transition: all 0.3s;

      img {
        width: 1.5em;
        height: 1.7em;
        margin: 15px 10px 0 0;

      }

      .small {
        display: none;
      }

      .big {
        display: block;
        line-height: 65px;
      }
    }

    ul {
      display: flex;

      li {
        cursor: pointer;
        padding: 0 1.2em;
        line-height: 65px;

        i {
          font-size: 14px;
          padding-right: 3px;
        }
      }

      li:hover {
        color: #2d8cf0;
        border-bottom: 2px solid #2d8cf0;
      }

      .hover {
        color: #2d8cf0;
        border-bottom: 2px solid #2d8cf0;
      }
    }


  }

  .right-header {
    padding-right: 1.5em;
    color: #2d2d2d;
    line-height: 65px;
    .avatar {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      cursor: pointer;
    }  
  }
  .userInfo {
    width: 240px;
    right: 0;
    top: 65px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 12px 32px 0 rgba(38,38,38,.16);
    .tab-menu-item{
      cursor: pointer;
      &:hover{
        background-color: #f7f7f7;
      }
    }
    .tb-navigation-menu-divider{
      border-bottom: 1px solid #e5e5e5;
      margin: 4px 0!important;
    }
    .tab-menu-item-content1{
      margin: 4px 16px;
      height: 36px;
      line-height: 36px;
      color: #262626;
    }
    .tab-menu-item-content2{
      margin: 4px 16px;
      height: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #262626;
    }
    .tab-menu-item-content3{
      margin: 4px 16px;
      height: 36px;
      line-height: 36px;
      color: #262626;
    }
  }
}